.grid{
          display: grid;
          grid-template-columns: 1fr 5fr 1fr;
          grid-template-rows:15% 15% 55% 15% ;
          grid-gap: 10px;
            /* content:" " ;   */
           width:auto;
          height: 1000px;    
} 
.child1{
background-color: red; 
/* border: 1px solid black; */
grid-column: 1 / span 3;
 /* content:" " ;   */
 width: auto;
height:auto;    

}
.child2{
          background-color: #00ffea ;
          /* border: 1px solid black;  */
          grid-column: 1 / span 3;
          grid-row: 4 / span 1;
           /* content:" " ;  */ 
          width: auto;
          height:auto;    
}
.child3{
          background-color: yellow;
          /* border: 1px solid black;  */
          grid-row: 2 / span 2;
          grid-column: 3/ span 1;
            /* content:" ";  */
           width: auto;
          height: auto;    


}
.child4{
          background-color:green;
          /* border: 1px solid black; */
          grid-column: 1 / span 1;
          grid-row: 2 / span 2;
            /* content:" ";   */
            width: auto;
          height: auto;   
            
           

}
.child5{
          background-color: blue; 
          /* border: 1px solid black;  */
            /* content:" ";  */ 
           width: auto;
          height: auto;   



}
.child6{
          background-color:blanchedalmond;
          /* border: 1px solid black; */
            /* content:" " ;  */
           width: auto;
           height: auto;    


}